// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$link-decoration: none;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";

// 4. Include any default map overrides here
$custom-colors: (
	"farve": $cyan-400,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrapComponents";

// 5. Du kan lave styling her...

h1{
	font-family: "montserrat", sans-serif;
	font-weight: 700;
	font-style: normal;
}

body{
	color: #663800;
	background-color: #FFFDF4;
}

.half-circle {
	width: 80px;
	height: 100px;
	border-radius:  0 80% 80% 0; /* Halvcirkel formet ved hjælp af border-radius */
	background-color: #FFDC4F; /* Tilpas farven efter behov */
}


.card-block {
	font-size: 1em;
	position: relative;
	padding-left: 0px;
	margin: 0;
	border: none;
	box-shadow: none;

}

.btn {
	margin-top: auto;
	background-color: #FFDC4F;
	border-color: white;
}


.card {
	font-size: 1em;
	overflow: hidden;
	border: none;
	border-radius: .0rem;
	box-shadow: 0 1px 3px 0 #663800, 0 0 0 1px #663800;
	margin-top: 20px;
	margin-left: 20px;
}

.pic{
	height: 140px;
	width: 90;
}

.circle{
	margin-right: 0px;
}

.container {
  position: relative;
}


.overlay-image {
 position: absolute;
  bottom: 0;
  right: 140px;
	height: 250px;
	width: 200px;

  z-index: 1; /* Sørger for, at billedet er foran gridet */
}

/*find os*/



.container map{
	text-align: center;

}

.image-container map {
	position: relative;
	display: inline-block;

}

.pin {
	position: absolute;
	width: 18px;
	height: 18px;
	background-color: red;
	border-radius: 50%;
	cursor: pointer;
	border: double;
}

.pin-1 {
	top: 36.5%;
	left: 31.5%;

}

.pin-2 {
	top: 60%;
	left: 70%;
}

.pin:hover .popup {
	display: block;
}

.popup {
	position: absolute;
	top: 100%;
	left: -50%;
	width: 20rem;
	transform: translateX(-50%);
	background-color: rgba(0, 0, 0, 0.9);
	color: #fff;
	padding: 10px;
	border-radius: 5px;
	font-size: 12px;
	z-index: 2;
	display: none;
}

.popup h3 {
	margin-top: 0;
}

